<div id="my_skills"
     ng-controller="SkillListController as ctrl">
    <md-progress-linear md-mode="query" ng-show="!isDataLoaded"></md-progress-linear>
    <div layout="row"
         flex
         layout-align="center start"
         layout-wrap>
        <div ng-repeat="skill in skills"
             flex="100"
             flex-gt-xs="50">
            <md-card>
                <md-card-header ng-show="!skill.angular.showMoreInfo">
                    <md-card-header-text>
                        <span class="md-headline">{{skill.name}}</span>
                        <span class="md-subhead">{{skill.name_full}}</span>
                    </md-card-header-text>
                </md-card-header>

                <md-card-content layout="row" layout-align="space-between">
                    <p>{{skill.description}}</p>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button
                            ng-click="openDetailsDialog($event, skill)">More
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>