<style>
    .img-container > .img-small {
        max-width: 100%;
        max-height: 250px;
    }

    .img-container > .img-large {
        max-width: 100%;
        max-height: 500px;
    }
</style>

<md-dialog flex="100"
           flex-gt-sm="70">
    <md-card style="margin: 0">
        <div style="position: relative">
            <md-toolbar class="md-tall"
                        layout="column"
                        layout-align="end start"
                        md-whiteframe="4"
                        layout-padding>
                <span class="md-headline">{{project.name}}</span>
            </md-toolbar>

            <md-button class="md-fab"
                       ng-click="hide()"
                       style="position: absolute; right: 24px; bottom: -24px">
                <md-icon md-svg-src="arrow-compress"></md-icon>
            </md-button>
        </div>

        <md-content>
            <md-tabs md-border-bottom
                     md-dynamic-height
                     layout-fill>
                <md-tab label="Description">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">{{project.name}}</h1>
                        <p>{{project.description}}</p>
                    </md-content>
                </md-tab>
                <md-tab label="Pictures">
                    <div class="md-padding"
                         layout="row"
                         layout-align="space-between start"
                         flex="100">
                        <div style="position:relative; min-height: 800px; min-width: 250px">
                            <img ng-src="img/frame/nexus-6p-portrait.png"
                                 style="position:absolute;"/>
                            <img ng-src="{{src}}"
                                 style="position: absolute; z-index: 2; min-height: 383px; max-height: 383px; max-width: 215px; top: 55px; left: 13px;"/>
                        </div>

                        <md-content layout="row"
                                    layout-align="start center"
                                    layout-wrap
                                    flex>
                            <div class="img-container"
                                 flex="25"
                                 layout="row"
                                 layout-align="center center"
                                 style="margin: 8px; cursor: pointer; outline: 0"
                                 ng-repeat="image in project.images"
                                 ng-init="height=4"
                                 ng-mouseenter="height=8"
                                 ng-mouseleave="height=4"
                                 ng-click="setSrc(image.src)">
                                <img ng-src="{{image.src}}"
                                     ng-class="{'img-large': flex==100, 'img-small': flex==33}"
                                     md-whiteframe="{{height}}"/>
                            </div>
                        </md-content>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-card>
</md-dialog>